<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Basic Vue Js - HelloWorld App</title>

  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
  <!-- Using via Google Web Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

  <!-- https://tailwindcss.com/docs/installation -->
  <!-- Using Tailwind via CDN -->
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@next"></script>

</head>
<style>
  .gallery {
    background-size: cover;
  }

  .gallery-item {
    border: 3px solid white;
  }
  .selected {
    border: 3px solid rgb(61, 61, 61);
  }
  .material-icons.lg {
    font-size: 50px;
  }
</style>

<body>
  <div id="app" class="flex justify-center">
    <div v-if="carousel.isActive" id="crousel-container" class="flex bg-gray-500 flex justify-center w-screen">
      <div class="gallery w-8/12 flex justify-end" :style="carousel.pic.style">
        <div @click="carousel.isActive = false" class="cursor-pointer">
          <i class="material-icons lg mr-1 md-dark">clear</i>
        </div>
      </div>
    </div>
    <div id="gallery" class="flex flex-col">
      <h1 class="m-4 font-bold text-xl text-center">Gallery Items ( {{ countGallery }} ) Liked ( {{ countLike }} )</h1>
      <div v-if="!carousel.isActive" id="search container">
        <div v-if="isSearchOn" id="search-bar">
          <input v-model="searchtext" type="text" placeholder="type to search"
            class="rounded-md h-8 mt-2 bg-gray-200 w-12/12">
          <input @click="toggleSearch()" type="button"
            class="rounded-xl bg-red-500 p-1.5 ml-2 font-bold text-white cursor-pointer" value="Cancel">
          </input>
        </div>
        <div @click="toggleSearch()" v-else id="search-button" class="cursor-pointer">
          <i class="material-icons md-28 mr-1 md-dark">search</i><span class="font-bold">Search</span>
        </div>
      </div>
      <div v-if="haveResult" v-for="(pic,index) in viewpics" class="flex flex-col">
        <div @dblclick="toggleLike(index)" @click="handleSelect(index)" id="gallery-item"
          :class="{selected : pic.selected}"
          class="w-80 gallery-item overflow-hidden cursor-pointer m-3 flex flex-col bg-gray-200 hover:bg-gray-400 rounded-xl transition-colors">
          <div class="gallery w-80 h-72" :style="pic.style">
          </div>
              <h2 class="m-3 mr-2 font-semibold"> {{ pic.title }}
              <span :class="{'text-red-500': pic.like}"
              class="text-gray-300 transition-all text-sm material-icons transform scale-150">favorite</span>
            </h2>
        </div>
      </div>
      <h1 v-else class="text-bold font-xl">No Search Result !</h1>
    </div>
  </div>
  <!-- my main.js -->
  <script src="./main.js"></script>
</body>

</html>